body{
    background-color: black;
}
h1{
    transition: color 0.5s;
    color: wheat;
    text-align: center;
    padding: 5px;
    font-size: 100px;
}

.amount{
    transition: color 1s;
    transition: c;
    color: wheat;
    font-size: 80px;
    text-align: center;
}

.amount:hover{

    color: firebrick;
}

h1:hover{
    color:  firebrick ;
}

.to_contribute{
    color: wheat;
    font-size: 20px;
    padding: 20px;
}

.to_contribute:hover {
    color: firebrick;
    transition: color 1s;
}