body{
    background-color: black;
}
h1{
    color: wheat;
    text-align: center;
    padding: 5px;
    font-size: 100px;
}

.amount{
    color: whitesmoke;
    font-size: 80px;
    text-align: center;
}

.amount:hover{

    color: firebrick;
}

h1:hover{
    color:  firebrick ;
}