body{
   background-color: black;

}
h4{
    transition: color 0.5s;
    color: whitesmoke;
    font-size: 80px;
    text-align: center;
}

h4:hover {
    color:firebrick;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.text_msg{
    transition: color 0.5s;
    font-size: 20px;
    color: whitesmoke;
    text-align: justify;
}

.text_msg:hover{
    color: firebrick;
}
